*, *::after, *::before {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

img {
    width: 20vw;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 6px;
    margin-left: 0px;
}

nav {
    display: flex;
    flex-direction: row;
}

a {
    color: #000;
    text-decoration: none;
}